html,body{
    height: 100%;
}
*{
    font-family: sans-serif;
}
.header {
    display: flex;   
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgb(105, 105, 201);
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

}
.item {
    flex: 1 0 300px;
    background-color: rgb(200, 200, 105);
    padding: 20px;
}

.footer {
    display: flex;   
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: skyblue;
    color: white;
    margin-top: 10px;
}
.img{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: auto;
}
.img1:hover {
    background-image: url(k.jpg);
    transform: scale(1.1);
    transition: 0.8s;

    
}
.img1 {
    background-image: url(k.jpg);
   
    
}
.img2:hover {
    background-image: url(fa.jpg);
    transform: scale(1.1);
    transition: 0.8s;
    
}
.img2 {
    background-image: url(fa.jpg);
    
}
.img3:hover {
    background-image: url(aze.png);
    transform: scale(1.1);
    transition: 0.8s;
    
}
.img3 {
    background-image: url(aze.png);
    
}
.img4:hover {
    background-image: url(ha.png);
    transform: scale(1.1);
    transition: 0.8s;
    
}
.img4 {
    background-image: url(ha.png);
    
}
.img5:hover {
    background-image: url(ho.jpg);
    transform: scale(1.1);
    transition: 0.8s;
    
}
.img5 {
    background-image: url(ho.png);
    
}
p{
    color: black;
}
h1{
    color: white;
}