*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sekil{
  border: 1px solid black;
}
.sekil:hover{
    transform: scale(1.05);
    transition: 0.3s;
  }

.wrapper {
    width: 96vw;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    height: 100px;
    position: relative;
    background: white;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2) ;
    display: flex;
    overflow: hidden;
}

.slide2 {
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 15s linear infinite;
}

.slide2 img {
    height: 70px;
    padding: 0px 30px 0 30px;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.slider::before,
.slider::after{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 30%);
    z-index: 2;
}

.slider::before{
    top: 0;
    left: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(280deg);
}
a{
    text-decoration: none;
}
.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: yellow;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
   
 
   .btn1 {
    height: 35px;
    margin: 5px;
    text-align: center;
    width: 110px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 14px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
   
  }
  
  .btn1:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                      -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e,
               -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
    -webkit-box-shadow: -1px -5px 15px #41465B, 
    5px  5px 15px #31323a, 
    inset 5px 5px 10px #534545, 
    inset -5px -5px 10px #3a3c42;
    box-shadow: -1px -5px 15px #3f414a, 
    5px 5px 15px #1b1c1f, 
    inset 5px 5px 10px #212121, 
    inset -5px -5px 10px #212121;
    transform: scale(1.02);
    transition: 0.1s;
  }
  
  
  .btn1:active {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                       -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e,
               -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
  .btn2 {
    background: #eaeaea;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
  .btn2:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .btn2:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }