*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    width: 96vw;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    height: 100px;
    position: relative;
    background: white;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2) ;
    display: flex;
    overflow: hidden;
}

.slide2 {
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 15s linear infinite;
}

.slide2 img {
    height: 70px;
    padding: 0px 30px 0 30px;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.slider::before,
.slider::after{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 30%);
    z-index: 2;
}

.slider::before{
    top: 0;
    left: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(280deg);
}
a{
    text-decoration: none;
}
.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: yellow;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
   
 
   .btn1 {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    margin: 10px;
    border: 1px solid #fbfbfb;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #0000;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .btn1:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffffff20;
    z-index: -1;
  }
  
  .btn1:hover, .btn1:focus {
    color: black;
  }
  
  .btn1:hover:before, .btn1:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .btn1:active {
    transform: scale(0.9);
  }